.grid {
    display: inline-grid;
  }

  .contenedor {
    display: flex;
    justify-content: center;
  }

@media (min-width: 1250px) {
  .grid {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
  
  }
}

@media (max-width: 1250px) {
  .grid {
    display: inline-grid;
    grid-template-columns: auto auto;
  }
  
  }

  @media only screen and (max-width : 900px) {
    .grid {
      display: inline-grid;
      grid-template-columns: auto;
    
 }
}


