<div class="d-flex justify-content-around p-2 text-center">

    <div class="d-flex flex-column">
        <a class="d-flex flex-column"  [routerLink]="['/update','usuario',idUsuario]">
            <span class="material-symbols-outlined">
                @if(parent === 'card')
                {
                refresh
                }
                </span>
            <p class="text-xs">Actualizar</p>
        </a>
    
    </div>
    <div class="d-flex flex-column">
        <a class="d-flex flex-column" (click)="borrarSerie(idUsuario)">
            <span class="material-symbols-outlined">
                @if(parent === 'card')
                {
                delete
                }
                </span>
            <p class="text-xs">Eliminar</p></a>
    </div>
    @if(parent === 'view')
    {
      
        <div class="d-flex flex-column">
            <a class="d-flex flex-column" [routerLink]="['/usuarios']">
              
                <p class="text-xs">Volver al listado</p>
            </a>
        
        </div>

    }
    @else if(parent == 'card')
    {
        <div class="d-flex flex-column">
            <a class="d-flex flex-column"  [routerLink]="['/usuario', idUsuario]">
                <span class="material-symbols-outlined">
                    visibility
                    </span>
                <p class="text-xs">Ver detalle</p>
            </a>
        
        </div>
    }
 






</div>

